# Object files and other compiled intermediates
*.o
*.obj
*.lo
*.slo
*.ko

# Precompiled headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lib
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug info
*.dSYM/
*.su
*.idb
*.pdb

# Editors / Project
.vscode/
**/.DS_Store
build
super-c
examples/*
!examples/language_demo.spc
todos.md
profile.json.gz
stage*-super-c
release.sh
editors/vscode/node_modules/
bench/compare/rust/target/
bench/compare/go/sccompare
super-c.wasm
plans
